<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @student.sid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @student.branch %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
